.settings-setting {
  padding: 20px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-setting i {
  margin-right: 14px;
  opacity: 0.8;
}

.settings-setting__column:last-child {
  opacity: 0.5;
}
