.alt-header {
  padding: var(--horizontal-space);
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-header__title {
  font-size: 24px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column span:last-child {
  margin-left: 24px;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
